<ul class="nav justify-content-center bg-dark" style="border-top: 2px solid #afd">
  <li class="nav-item">
    <a class="nav-link mr-2 text-white" href="VerCursos">Ver Cursos</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-white" href="NuevoCurso">Nuevo Curso</a>
  </li>
  <li class="nav-item mr-2 ">
    <a class="nav-link text-white" href="CerrarCursos">Cerrar Curso</a>
  </li>
</ul>